.contato {
    background-color: var(--cor-secundaria);
    padding: 1em;
}

.contato__titulo, .contato__texto {
    color: var(--cor-quaternaria);
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.contato__email {
    padding: 1em;
    border: 1px solid linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    border-radius: 24px;
    width: 90%;
    color: var(--cor-quaternaria);
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--cor-quaternaria);
    background: url("/assets/Email.svg") no-repeat;
    padding-left: 2.5em;
    padding-bottom: 1em;
    background-position-y: -3px;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__descricao {
        margin: 1em 3em 1em 0;
        width: 30%;
    }

    .contato__email {
        width: 30%;
    }
}

@media screen and (min-width: 1728px) {
    .contato {
        padding: 3em 20vw;
    }
    .contato__email {
        padding: 1em;
    }
}